#spinningSquaresG{
	position:relative;
	width:192px;
	height:23px;
	margin:auto;
}

.spinningSquaresG{
	position:absolute;
	top:0;
	background-color:rgba(6,122,255,0.98);
	width:23px;
	height:23px;
	animation-name:bounce_spinningSquaresG;
		-o-animation-name:bounce_spinningSquaresG;
		-ms-animation-name:bounce_spinningSquaresG;
		-webkit-animation-name:bounce_spinningSquaresG;
		-moz-animation-name:bounce_spinningSquaresG;
	animation-duration:0.905s;
		-o-animation-duration:0.905s;
		-ms-animation-duration:0.905s;
		-webkit-animation-duration:0.905s;
		-moz-animation-duration:0.905s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
}

#spinningSquaresG_1{
	left:0;
	animation-delay:0.366s;
		-o-animation-delay:0.366s;
		-ms-animation-delay:0.366s;
		-webkit-animation-delay:0.366s;
		-moz-animation-delay:0.366s;
}

#spinningSquaresG_2{
	left:24px;
	animation-delay:0.4525s;
		-o-animation-delay:0.4525s;
		-ms-animation-delay:0.4525s;
		-webkit-animation-delay:0.4525s;
		-moz-animation-delay:0.4525s;
}

#spinningSquaresG_3{
	left:48px;
	animation-delay:0.549s;
		-o-animation-delay:0.549s;
		-ms-animation-delay:0.549s;
		-webkit-animation-delay:0.549s;
		-moz-animation-delay:0.549s;
}

#spinningSquaresG_4{
	left:72px;
	animation-delay:0.6355s;
		-o-animation-delay:0.6355s;
		-ms-animation-delay:0.6355s;
		-webkit-animation-delay:0.6355s;
		-moz-animation-delay:0.6355s;
}

#spinningSquaresG_5{
	left:96px;
	animation-delay:0.732s;
		-o-animation-delay:0.732s;
		-ms-animation-delay:0.732s;
		-webkit-animation-delay:0.732s;
		-moz-animation-delay:0.732s;
}

#spinningSquaresG_6{
	left:120px;
	animation-delay:0.8185s;
		-o-animation-delay:0.8185s;
		-ms-animation-delay:0.8185s;
		-webkit-animation-delay:0.8185s;
		-moz-animation-delay:0.8185s;
}

#spinningSquaresG_7{
	left:144px;
	animation-delay:0.905s;
		-o-animation-delay:0.905s;
		-ms-animation-delay:0.905s;
		-webkit-animation-delay:0.905s;
		-moz-animation-delay:0.905s;
}

#spinningSquaresG_8{
	left:168px;
	animation-delay:1.0015s;
		-o-animation-delay:1.0015s;
		-ms-animation-delay:1.0015s;
		-webkit-animation-delay:1.0015s;
		-moz-animation-delay:1.0015s;
}



@keyframes bounce_spinningSquaresG{
	0%{
		transform:scale(1);
		background-color:rgb(0,123,255);
	}

	100%{
		transform:scale(.3) rotate(90deg);
		background-color:rgb(0,123,255);
	}
}

@-o-keyframes bounce_spinningSquaresG{
	0%{
		-o-transform:scale(1);
		background-color:rgb(0,123,255);
	}

	100%{
		-o-transform:scale(.3) rotate(90deg);
		background-color:rgb(0,123,255);
	}
}

@-ms-keyframes bounce_spinningSquaresG{
	0%{
		-ms-transform:scale(1);
		background-color:rgb(0,123,255);
	}

	100%{
		-ms-transform:scale(.3) rotate(90deg);
		background-color:rgb(0,123,255);
	}
}

@-webkit-keyframes bounce_spinningSquaresG{
	0%{
		-webkit-transform:scale(1);
		background-color:rgb(0,123,255);
	}

	100%{
		-webkit-transform:scale(.3) rotate(90deg);
		background-color:rgb(0,123,255);
	}
}

@-moz-keyframes bounce_spinningSquaresG{
	0%{
		-moz-transform:scale(1);
		background-color:rgb(0,123,255);
	}

	100%{
		-moz-transform:scale(.3) rotate(90deg);
		background-color:rgb(0,123,255);
	}
}
